<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title>Liczby zespolone</title>
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='img/ikonka.png') }}"
    >
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    >
  </head>
  <body>
    <main>
        <article>
        <h2>Błąd 404</h2>
            <section>
                <h3>Strona, na którą próbowałeś się dostać, nie istnieje &#128575;</h3>
                <p>
                    <a href="/">Wróć na stronę główną</a>
                </p>
            </section>
        </article>
    </main>
  </body>
</html>
