<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title>Liczby zespolone</title>
    <link
      rel="icon"
      type="images/png"
      href="{{ url_for('static', filename='img/ikonka.png') }}"
    >
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    >
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/jsxgraph/distrib/jsxgraphcore.js"></script>
  </head>
  <body>
    <div class="całość">
      <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"
      ></script>
      <header>
        <h1>Liczby zespolone</h1>
      </header>
      <nav class="głowne">
        <a class="menu" href="{{ url_for('home') }}">Strona główna</a>
        <a class="menu" href="{{ url_for('about_authors') }}">O autorach</a>
        <a class="menu" href="{{ url_for('bibliography') }}">Bibliografia</a>
      </nav>
      <nav class="boczne">
        <a id="liczby_zespolone" class="bocznne tutaj" href="#"
          >LICZBY ZESPOLONE</a
        >
        <a
          id="bok0"
          class="bocznne"
          href="{{ url_for('imaginary_numbers') }}#zbior_zespolony"
          >zbiór liczb zespolonych</a
        >
        <a
          id="bok1"
          class="bocznne"
          href="{{ url_for('imaginary_numbers') }}#postac_algebraiczna"
          >postać algebraiczna</a
        >
        <a
          id="bok2"
          class="bocznne"
          href="{{ url_for('imaginary_numbers') }}#postac_trygonometryczna"
          >postać trygonometryczna</a
        >
        <a
          id="bok3"
          class="bocznne"
          href="{{ url_for('imaginary_numbers') }}#postac_wykladnicza"
          >postać wykładnicza</a
        >
        <a id="zadania" class="bocznne tutaj" href="#">ZADANIA</a>
        <a
          id="bok0zadania"
          class="bocznne"
          href="{{ url_for('exercises') }}#zadanie1"
          >zadanie 1</a
        >
        <a
          id="bok1zadania"
          class="bocznne"
          href="{{ url_for('exercises') }}#zadanie2"
          >zadanie 2</a
        >
        <a
          id="bok2zadania"
          class="bocznne"
          href="{{ url_for('exercises') }}#zadanie3"
          >zadanie 3</a
        >
        <a
          id="bok3zadania"
          class="bocznne"
          href="{{ url_for('exercises') }}#zadanie4"
          >zabawa z wykresem</a
        >
      </nav>
      <script>
        $("#liczby_zespolone").on("click", function (e) {
          $("#bok0").slideToggle();
          $("#bok1").slideToggle();
          $("#bok2").slideToggle();
          $("#bok3").slideToggle();
        });
        $("#zadania").on("click", function (e) {
          $("#bok0zadania").slideToggle();
          $("#bok1zadania").slideToggle();
          $("#bok2zadania").slideToggle();
          $("#bok3zadania").slideToggle();
        });
      </script>
      <main>
        <article>
          <h2>Liczby zespolone</h2>
          <h2>\[\mathrm{e}^{\mathrm{i}\pi} + 1 = 0\]</h2>
          <section class="zespolone">
            <h3 id="zbior_zespolony">Zbiór liczb zespolonych</h3>
            <p>
              <b>Zbiór liczb zespolonych</b> oznaczamy jako&nbsp;\(\mathbb{C}\) 
              i&nbsp;definiujemy jako&nbsp;\(\mathbb{C} = \{x + y\mathrm{i} : x,y \in
              \mathbb{R}\}\), gdzie&nbsp;\(\mathrm{i}^2 = -1\).
            </p>

            <h3 id="postac_algebraiczna">Postać algebraiczna</h3>
            <p>
              Każdą liczbę zespoloną \(z = (x, y)\) możemy jednoznacznie zapisać
              w&nbsp;postaci \[z = x + y\mathrm{i},\] gdzie \(x,y \in \mathbb{R}\).
              To&nbsp;wyrażenie nazywamy
              <b>postacią algebraiczną</b> liczby zespolonej.
            </p>
            <p>
              <b>Częścią rzeczywistą \(Re(z)\)</b> liczby zespolonej \(z\),
              która jest postaci \(z = x + y\mathrm{i}\), gdzie&nbsp;\(x,y \in
              \mathbb{R}\) jest \(x\), natomiast
              <b>częścią urojoną \(Im(z)\)</b> jest&nbsp;\(y\) i&nbsp;oznaczamy \[Re(x +
              y\mathrm{i})=x,\] \[Im(x + y\mathrm{i})=y.\]
            </p>
            <p>
              Dwie liczby zespolone są&nbsp;sobie równe jeśli ich&nbsp;części rzeczywiste
              są&nbsp;równe, oraz&nbsp;części urojone są&nbsp;równe. \[z_1 = z_2
              \Leftrightarrow Re(z_1) = Re(z_2) \land Im(z_1) = Im(z_2).\]
            </p>
            <p>
              Dla dowolnych liczb \(z_1, z_2 \in \mathbb{C}\) zachodzi
              \[Re(z_1+z_2) = Re(z_1) + Re(z_2),\] \[Im(z_1+z_2) = Im(z_1) +
              Im(z_2).\]
            </p>
            <p>
              <b>Sumą</b> dwóch liczb zespolonych \(z_1 = x_1 + y_1\mathrm{i}\)
              i&nbsp;\(z_2 = x_2 + y_2\mathrm{i}\) nazywamy liczbę zespoloną \(z =
              z_1 + z_2\) i&nbsp;wyliczamy z&nbsp;poniższego wzoru \[z = z_1 + z_2 = (x_1
              + x_2) + (y_1 + y_2)\mathrm{i}.\]
            </p>
            <p>
              <b>Iloczynem</b> dwóch liczb zespolonych \(z_1 = x_1 +
              y_1\mathrm{i}\) i&nbsp;\(z_2 = x_2 + y_2\mathrm{i}\) nazywamy liczbę
              zespoloną \(z = z_1 \cdot z_2\) i&nbsp;wyliczamy z&nbsp;poniższego wzoru \[z
              = z_1 \cdot z_2 = (x_1 \cdot x_2 - y_1 \cdot y_2) + (x_1 \cdot y_2
              + x_2 \cdot y_1)\mathrm{i}.\]
            </p>
            <p>
              Niech \(z = x + y\mathrm{i}\), gdzie \(x,y \in \mathbb{R}\)
              <b>liczbą sprzężoną </b> z&nbsp;\(z\) (sprzężeniem&nbsp;\(z\)) nazywamy
              liczbę zespoloną postaci \[\overline{z} = x - y\mathrm{i}.\]
            </p>
            <p>
              Dla dwóch liczb \(z_1, z_2 \in \mathbb{C}\) zachodzi
              \[\overline{(z_1 + z_2)} = \overline{z_1} + \overline{z_2};\]
              \[\overline{(z_1 \cdot z_2)} = \overline{z_1} \cdot
              \overline{z_2};\] \[\overline{(\overline{z_1})} = z_1;\]
              \[\overline{z_1} + z_1 = 2Re(z).\]
            </p>
            <p>
              <b>Moduł</b> liczby zespolonej \(z = x + y\mathrm{i}\), gdzie
              \(x,y \in \mathbb{R}\) oznaczamy jako \(|z|\) i&nbsp;wyliczamy 
              z&nbsp;poniższego wzoru \[ |z| = \sqrt{x^2 + y^2}.\]
            </p>
            <p>
              Dla dwóch liczb \(z_1, z_2 \in \mathbb{C}\) zachodzi \[|Re(z)|
              \leq |z|;\] \[|Im(z)| \leq |z|;\] \[|z_1 + z_2| \leq |z_1| +
              |z_2|;\] \[|z_1 \cdot z_2| = |z_1| \cdot |z_2|;\] \[|z| =
              |\overline{z}| = |-z|;\] \[z \cdot \overline{z} = |z|^2.\]
            </p>

            <h3 id="postac_trygonometryczna">Postać trygonometryczna</h3>
            <p>
              Niech \(z = x + y\mathrm{i}\), gdzie \(x,y \in \mathbb{R} , z \neq
              0\), \[z = |z| \left( \frac{x}{|z|} +
              \mathrm{i}\frac{y}{|z|}\right) = |z| \left( \cos(\varphi + 2k\pi)
              + \mathrm{i}\sin(\varphi + 2k\pi)\right). \] Takie wyrażenie
              nazywamy
              <b>postacią trygonometryczną</b> liczby zespolonej \(z\).
            </p>
            <p>
              Kąt \(\varphi \) nazywamy <b>argumentem</b> liczby zespolonej \(
              z\) i&nbsp;oznaczamy \( arg \left(z\right)\). Argument, który leży 
              w&nbsp;przedziale \([0, 2\pi]\) nazywamy <b>argumentem głównym</b> 
              i&nbsp;oznaczamy \(Arg(z)\). Argument liczby zespolonej to&nbsp;miara kąta
              zorientowanego jaki tworzy wektor \( \overrightarrow{0Z}\) 
              z&nbsp;dodatnia osią&nbsp;oX.
            </p>

            <div id="jxgbox" class="jxgbox"></div>
            <script>
              const board = JXG.JSXGraph.initBoard("jxgbox", {
                boundingbox: [-2, 2, 2, -2],
                axis: true,
                keepaspectratio: true,
              });

              const circle = board.create("circle", [[0, 0], 1], {
                strokeColor: "#6A0AD8",
                strokeWidth: 2,
                fixed: true,
              });

              const movablePoint = board.create("glider", [1, 0, circle], {
                name: "1 + 0i",
                size: 3,
                color: "#2FEC29",
                showInfobox: true,
                snapToGrid: true,
                snapSizeX: Math.PI / 180,
                snapSizeY: Math.PI / 180,
              });

              const arrow = board.create("arrow", [[0, 0], movablePoint], {
                strokeColor: "#FF0000",
                strokeWidth: 2,
              });

              const origin = board.create("point", [0, 0], {
                fixed: true,
                visible: false,
              });

              const fixedPoint = board.create("point", [1, 0], {
                fixed: true,
                visible: false,
              });

              const angle = board.create(
                "angle",
                [fixedPoint, origin, movablePoint],
                {
                  radius: 0.5,
                  withLabel: false,
                }
              );

              const angleText = board.create(
                "text",
                [
                  function () {
                    return movablePoint.X() / 2;
                  },
                  function () {
                    return movablePoint.Y() / 2;
                  },
                  function () {
                    return ((angle.Value() * 180) / Math.PI).toFixed(2) + "°";
                  },
                ],
                {
                  fontSize: 14,
                }
              );

              function updateLabel() {
                const x = movablePoint.X();
                const y = movablePoint.Y();
                movablePoint.setAttribute({
                  name: `${x.toFixed(2)} + ${y.toFixed(2)}i`,
                });
              }

              movablePoint.on("drag", updateLabel);
            </script>
            <p>
              Dwie niezerowe liczby zespolone są&nbsp;sobie równe jeśli ich moduły 
              są&nbsp;równe, oraz&nbsp;argumenty są&nbsp;równe. \[z_1 = z_2 \Leftrightarrow |z_1|
              = |z_2| \land arg(z_1) = arg(z_2).\]
            </p>
            <p>
              <b>Iloczynem</b> dwóch liczb zespolonych \(z_1 = |z_1| \left(
              \cos(\varphi_1) + \mathrm{i}\sin(\varphi_1) \right)\) i&nbsp;\(z_2 =
              |z_2| \left( \cos(\varphi_2) + \mathrm{i}\sin(\varphi_2) \right)\)
              nazywamy liczbę zespoloną \(z = z_1 \cdot z_2\) i&nbsp;wyliczamy 
              z&nbsp;poniższego wzoru \[z = z_1 \cdot z_2 = |z_1| \cdot |z_2| \left(
              \cos(\varphi_1 + \varphi_2) + \mathrm{i}\sin(\varphi_1 +
              \varphi_2) \right).\]
            </p>
            <p>
              Dla dowolnych liczb \(z_1, z_2 \in \mathbb{C}\) zachodzi \[|z_1
              \cdot z_2| = |z_1| \cdot |z_2|;\] \[arg(z_1 \cdot z_2) = arg(z_1)
              + arg(z_2).\]
            </p>
            <p>
              <b>Wzór de Moivre'a</b>: dla&nbsp;dowolnej liczby zespolonej \(z = |z|
              \left(\cos\varphi + \mathrm{i}\sin\varphi\right)\) oraz&nbsp;dowolnej
              liczby całkowitej \(n\) zachodzi \[z^n = |z|^n
              \left(\cos(n\varphi) + \mathrm{i}\sin(n\varphi)\right).\]
            </p>
            <p>
              Niech \(n \in \mathbb{N}\). Liczba \(w \in \mathbb{C}\) jest
              <b>pierwiastkiem</b> stopnia&nbsp;\(n\) z&nbsp;liczby \(z \in \mathbb{C}\)
              jeśli \[w^n = z.\]
            </p>
            <p>
              Niech \(z = |z| \left( \cos\varphi + \mathrm{i}\sin\varphi \right)
              \neq 0\). Istnieje \(n\) różnych pierwiastków stopnia \(n\) 
              z&nbsp;liczby \(z\), które&nbsp;możemy zapisać jako \[w_k = \sqrt[n]{|z|}
              \left( \cos\left(\frac{\varphi + 2k\pi}{n}\right) +
              \mathrm{i}\sin\left(\frac{\varphi + 2k\pi}{n}\right) \right),\]
              gdzie&nbsp;\(k = 0, 1, 2, \ldots, n-1\).
            </p>

            <h3 id="postac_wykladnicza">Postać wykładnicza</h3>
            <p>
              Definiujemy \(\mathrm{e}^{\mathrm{i}\varphi} = \cos\varphi +
              \mathrm{i}\sin\varphi.\) Zatem dla&nbsp;liczby \(z = |z|
              \left(\cos\varphi + \mathrm{i}\sin\varphi\right)\) mamy \[z = |z|
              \mathrm{e}^{\mathrm{i}\varphi}.\] Takie wyrażenie nazywamy
              <b>postacią wykładniczą</b> liczby zespolonej \(z\).
            </p>
            <p>
              Dla&nbsp;dowolnych liczby \(z_1 =
              |z_1|\mathrm{e}^{\mathrm{i}\varphi_1}\), \(z_2 =
              |z|\mathrm{e}^{\mathrm{i}\varphi_2}\) zachodzi \[z_1 \cdot z_2 =
              |z_1| \cdot |z_2| \mathrm{e}^{\mathrm{i}(\varphi_1 +
              \varphi_2)};\] \[z^n = |z|^n \mathrm{e}^{\mathrm{i}n\varphi};\]
              \[\mathrm{e}^{\mathrm{i}\varphi} = -1.\]
            </p>
            <p>
              <b>Wzór Eulera</b>: \[\mathrm{e}^{\mathrm{i}\varphi} = \cos\varphi
              + \mathrm{i}\sin\varphi.\]
            </p>
          </section>
        </article>
      </main>
    </div>
  </body>
</html>
